.App{
  width: 100%;
  background: linear-gradient(180deg, rgb(4, 1, 20), rgb(2, 177, 221) );
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  gap: 35px;
  
  
}

.main-section{
  width: 100%;
  height: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  
  padding-bottom: 50px;
  padding-top: 10px;
  
  
}

.title-h1{
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 65px;
  letter-spacing: 2px;
  text-shadow: -5px 0px 12px rgb(4, 148, 153),  5px 0 12px #9900ff;

}

.text-neon{
  margin-top: 50px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: -5px 0px 12px rgb(4, 148, 153),  5px 0 12px #9900ff;

}

.coin-list-container{
  height: 650px;
  background-color: blueviolet;
}

.rocket-img{
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50%;
  right:4%;
  /* transform: rotateZ(-35deg); */
  z-index: 0;
}

.moon-img{
  height: 700px;
  position: absolute;
  top: -50%;
  left: -25%;
}

.earth-container{

  overflow: hidden;
  width: 100%;
  height: 100px;

}

.earth-img{
  width: 300%;
  position: relative;
  overflow: hidden;
  bottom: 30px;
  left: -100%;
  
  
}
